.palette {
  width: 72px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.palette-swatches {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.palette-swatch {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 0;
  box-sizing: border-box;
}

.palette-active-swatch {
  width: 100%;
  border-radius: 4px;
  height: 32px;
}
