.toolbar {
  width: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.toolbar-button {
  border: 0;
  background: transparent;
  width: 32px;
  height: 32px;
  color: var(--button-color);
  padding: 0;
  border-radius: 4px;
}

@media (hover: hover) {
  .toolbar-button:hover:not(:disabled) {
    background: var(--button-hover-background);
  }
}

.toolbar-button-active {
  background: white !important;
  color: var(--theme-color)
}

.toolbar-button:disabled {
  opacity: 0.3;
}

