.toolbar {
  width: 74px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.toolbar-button {
  border: 0;
  background: transparent;
  width: 32px;
  height: 32px;
  color: black;
  padding: 0;
  border-radius: 4px;
}

.toolbar-button:hover {
  background: #eeedfe;
}

.toolbar-button-active {
  color: var(--theme-color);
}

.toolbar-button-inactive {
}

.toolbar-button:disabled {
  opacity: 0.3;
}
